 * {
     margin: 0;
     padding: 0;
 }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.main {
    border: 1px solid tomato;
    height: 50em;
    width: 1440px;
    display: flex;
    margin: 2%;
    margin-left: 15%;
    font-family: 'Josefin Sans', sans-serif;
}

.data{
    width: 65%;
}

.imagen {
    width: 45%;
    overflow:hidden;
}

.inner {
    padding: 15%;
    padding-top: 5%;
}

.logo {
    border: 1px solid black;
    margin-bottom: 15%;
}

h1 {
    color: hsl(0, 36%, 70%);
    font-size: 5em;
    border: solid 1px black;
    width: 5em;
    font-weight: 300;
    letter-spacing: 12px;    
}
h1.title2 {
    color: black;
    font-weight: 600;
    
}
p {
    font-size: 18px;
    color: hsl(0, 36%, 70%);
    border: solid 1px black;
    width: 28em;
    font-weight: 400;
    padding-top: 8%;
    margin-bottom: 5%;
    line-height: 40px; 
}
.form {
    border: 1px solid black;
    display: flex;
}

.email {
    height: 3em;
    width: 25em;
}

.boton {
    background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    height: 3.3em;
    width: 5em;
    z-index: 9;
}