 * {
     margin: 0;
     padding: 0;
 }

.imagen_mobile {display: none;} .logo_mobile{display: none;}

.main {
    background-color: aliceblue;
    height: 40em;
    width: 1200px;
    display: flex;
    margin: 2%;
    margin-bottom: 0%;
    margin-left: 10%;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 10px 10px 20px 3px hsl(0, 3%, 72%);
}

.data{
    width: 65%;
}

.imagen {
    width: 45%;
    overflow:hidden;
}
img {
    max-width: 100%;
    max-height: auto;
}

.inner {
    padding: 15%;
    padding-left: 20%;
    padding-top: 5%;
}

.logo {
    margin-top: 5%;
    margin-bottom: 16%;
}

h1 {
    color: hsl(0, 36%, 70%);
    font-size: 3.5em;
    width: 5em;
    font-weight: 300;
    letter-spacing: 12px;    
}
h1.title2 {
    font-weight: 600;
    color: black;
    
}
footer {
    height: 2em;
    display: flex;
    justify-content: center;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.8em;
    color: hsl(0, 36%, 70%);
    width: 28em;
    font-weight: 400;
    margin-bottom: 8%;
    line-height: 30px; 
}
.inner > p {
    margin-top: 5%;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
.form {
    display: flex;
}

.email {
    height: 3.4em;
    width: 26em;
    border: 0.5px solid lightgray;
    border-radius: 30px;

}

::placeholder { 
    text-indent: 20px;
    color: lightgray;
    font-family: 'Josefin Sans', sans-serif;  
  }

  input[type=email] {
    text-indent: 20px;
   font-family: 'Josefin Sans', sans-serif;  
  }

  input:focus { 
    outline: none;
    border-color: hsl(311, 44%, 88%);
    box-shadow: 0 0 10px hsl(0, 36%, 70%);
}

.boton {
    background: linear-gradient(90deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    height: 3.6em;
    width: 6.5em;
    border-radius: 30px;
    position:absolute;
    margin-left: 20em;
    transition: 0.3s
}

.boton:hover {
    background: linear-gradient(90deg, hsl(0, 80%, 86%), hsl(0, 75%, 73%));
    transform: scale(1.1);
/* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 8px 8px 20px 3px hsl(0, 26%, 76%);
    filter: alpha(opacity=30);
    cursor: pointer;
}

input:invalid {
    background: url("images/icon-error.svg") no-repeat 17.5em 50%;
}
input:focus:invalid {
    border-color: hsl(350, 90%, 52%);
    background: url("images/icon-error.svg") no-repeat 17.5em 50%;
    background-size: 25px;
  }

  #error {
      padding-left: 2em;
      margin-top: 0.8em;
      color: rgb(211, 117, 117);
      font-family: 'Josefin Sans', sans-serif;
      font-size: 0.8em;  
  }


  @media(max-width: 550px){

    .main {
        margin-left: 20%;
        height: 45em;
        width: 320px;
        margin-bottom: 0%;
    }
    .imagen {
        display: none;
    } .logo {
        display: none;
    }

    .imagen_mobile {
        display: flex;
        width: 320px;
    }
    .logo_mobile {
        display: flex;
        margin-top: 15%;
        margin-bottom: 15%;
        margin-left: 15%;
    }
    .logo_img {
        width: 5em;
    }

    .inner {
        padding: 10%;
        height: 24.3em;
        width: 277px;
    }

    h1 {

        font-size: 2.3em;
        align-items: center;
        margin-top: 10%;
        line-height: 0.3em;
        letter-spacing: 0.2em;
    }
   .title {
    margin-right: 5%;   
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
   }
    p {
         width: 21em;
        font-size: 0.8em;
        line-height: 20px;
        text-align: center;
    }
    .inner > p {
        margin-top: 15%;
    }
.form {
    padding-left: 4%;
    margin-top: 15%;
}
    .email {
        /* margin-top: 20%; */
        height: 3em;
        width: 19em;

    
    }
    .boton {
        /* margin-top: 10%; */
        height: 3.1em;
        width: 4.5em;
        position:absolute;
        margin-left: 15em;
    }
#error {
    font-size: 0.7em;  
    padding-left: 5em;
}  
.attribution {
    margin-top: 2%;
    font-size: 0.7em;
    width: 30em;
}
}